# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T23X=y
CONFIG_BUILD_GENERAL=y
CONFIG_PLATFORM_GUID="49a79a15-8f69-4be7-a30c-a172f44abce7"
# CONFIG_SECURITY_UEFI_MENU_USER_AUTH is not set
# CONFIG_SDCARD is not set
# CONFIG_UFS is not set
# CONFIG_SATA is not set
# CONFIG_NETWORKING_DEVICE_NVIDIA is not set
# CONFIG_BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION is not set
CONFIG_BOOT_UI_MENU_DISABLED=y
CONFIG_L4T_LAUNCHER_QUIET_MODE=y
# CONFIG_FIRMWARE_MANAGEMENT is not set
# CONFIG_NETWORKING is not set
# CONFIG_SHELL is not set
